h2, h3 {
    text-align: center;
}

.member {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 5px;
    border: solid 1px black;
    border-radius: 5px;
    background: white;
    text-align: center;
    width: 100px;
}

    .member img {
        box-shadow: 5px 5px 5px #888888;
    }

    .member:hover {
        -moz-transform: scale(2.2);
        -ms-transform: scale(2.2);
        -o-transform: scale(2.2);
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
    }
