@{
    ViewBag.Title = "Daniel Test";
}

<link href="@Url.Content("~/Content/Daniel.css")" rel="stylesheet" />

<h2>Daniel Test</h2>
<hr />

<h4>練習1: Transition(轉場動畫): <strong>2015/12/17</strong></h4>
<input value="切換 Div 類別" type="button" onclick="pushButton()" />
<div id="block1" class="hoverbox">Hover me!!</div>

<hr />
<h4>練習2: Transform(旋轉動畫): <strong>2015/12/18</strong></h4>
<div id="block2">
    <p>就只是一個 div</p>
    <p>可以用滑鼠玩弄它</p>
</div>
<input value="旋轉180度" type="button" onclick="pushButton2()" />

<hr />
<h4>練習3: Drag&amp;Drop(拖曳文字資料): <strong>2015/12/28</strong></h4>
<img id="imgNoProcessDrag" src="@Url.Content("~/Content/Images/newegg-business-77706177.jpg")">
<img id="imgDrag" src="@Url.Content("~/Content/Images/footer-logo.png")" ondragstart="processDrag(event)">
<div id="divDrop" ondrop="processDrop(event)" ondragover="allowDrop(event)">把任何東西拖進來,看文字資料是什麼</div>
<div id="divMessage">(Message)</div>

@section scripts
{
    <script>
        function pushButton() {
            $("#block1").toggleClass("yellowbox");
        }

        function pushButton2() {
            $("#block2").toggleClass("rotate180");
        }

        // 如果沒存id, 預設就會存圖檔的實體路徑(連結); 如果圖檔沒有id, text也會讀到連結.
        function processDrag(event) {
            event.dataTransfer.setData("text", event.target.id);
        }

        // 只要Drag物件停留在上面,就會不斷觸發這個事件.
        function allowDrop(event)
        {
            console.log("allowDrop.");
            $("#divMessage").text("allowDrop.");
            event.preventDefault(); // 如果沒有這行, 放開時就不會觸發自訂的onDrop事件(加了這行, 也會改變drag時滑鼠的圖案).
        }

        // 從桌面丟上來的檔案一樣會觸發此事件.
        function processDrop(event) {
            console.log("processDrop.");
            $("#divMessage").text("processDrop.");
            event.preventDefault(); // 如果沒有這行, 就會執行預設動作(有時會造成網頁跳轉)
            var data = event.dataTransfer.getData("text");
            $("#divDrop").text(data);
        }
    </script>
}