@{
    ViewBag.Title = "Daniel Test";
}

<link href="@Url.Content("~/Content/Daniel.css")" rel="stylesheet" />

<h2>Daniel Test</h2>
<hr />

<h4>測試1: Transition(轉場動畫): <strong>2015/12/17</strong></h4>
<input value="切換 Div 類別" type="button" onclick="pushButton()" />
<div id="block1" class="hoverbox">Hover me!!</div>

@section scripts
{
    <script>
        function pushButton() {
            $("#block1").toggleClass("yellowbox");
        }
    </script>
}