@{
    ViewBag.Title = "Team Member";
}

<link href="@Url.Content("~/Content/TeamMember.css")" rel="stylesheet" />

<h2>TW B2B TEAM</h2>
<div class="teamGroup">
    <h3>3W</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="member">
                <p><img src="@Url.Content("~/Content/Images/TeamMember/Daniel.jpg")" alt="Daniel" /></p>
                <p>11_陳瑩聰(Daniel)</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="member">
                <p><img src="@Url.Content("~/Content/Images/TeamMember/Daniel.jpg")" alt="Daniel" /></p>
                <p>11_陳瑩聰(Daniel)</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="member">
                <p><img src="@Url.Content("~/Content/Images/TeamMember/Daniel.jpg")" alt="Daniel" /></p>
                <p>11_陳瑩聰(Daniel)</p>
            </div>
        </div>
    </div>
</div>
